html,
body {
  font-family: 'RobotoSlab-Thin';
  color: $white;
  min-height: 100%;
}
body {
  background: url('/src/images/weather.jpg') center center no-repeat;
  background-size: cover;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  width: 100%;
  text-align: center;
  @include media-min-width(desktop) {
    padding: 40px;
    text-align: left;
  }
  .location {
    margin: 10px 0 0 10px;
    &__title,
    &__icon {
      display: inline-block;
      font-size: 20px;
      @include media-min-width(tablet) {
        font-size: 22px;
      }
      @include media-min-width(tablet) {
        font-size: 28px;
      }
    }
  }

}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  min-height: 100vh;
  background: rgba( black, 0.7);
}

.logo {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'RobotoSlab-Thin';
  font-size: 35px;
  @include media-min-width(mobile) {
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    font-size: 50px;
  }
}

.cancel {
  position: absolute;
  top: 20px;
  right: 0;
  .icon-cancel {
    display: block;
    font-size: 45px;
    color: $white;
  }
  @include media-min-width(mobile) {
    right: 20px;
  }
}

.autocomplete {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 0;
  padding: 20px 0;
  background-color: rgba($weather-background-color, 0.8 );
  transition: all 0.4s ease-in-out;
  width: calc(100% - 40px);
  float: right;
  z-index: 500;
  @include media-min-width(mobile) {
    padding: 30px;
    width: calc(100% - 60px);
  }
  @include media-min-width(tablet) {
    padding: 20px;
  }
  &.visible {
    right: 0;
    width: 100%;
    @include media-min-width(tablet) {
      width: 340px;
    }
    transition: all 0.4s ease-in-out;
  }
  &__form {
    display: block;
    width: 260px;
    margin: 60px auto 0;
    border: 1px solid $white;
    border-radius: 15px;
    @include media-min-width(mobile) {
      width: 320px;
    }
    @include media-min-width(tablet) {
      margin: 80px auto 0;
    }
  }
  &__input {
    display: block;
    width: 270px;
    margin: 0 auto;
    font-size: 20px;
    color: $white;
    text-align: center;
    padding: 5px 0;
    font-family: 'RobotoSlab-Thin';
    &::placeholder {
      color: $white;
      opacity: 1;
    }
    @include media-min-width(mobile) {
      width: 320px;
    }
  }
  &__list {
    display: none;
    width: 270px;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
    &.visible {
      display: block;
    }
    @include media-min-width(mobile) {
      width: 320px;
    }
  }
  &__item {
    padding: 10px 0;
    font-size: 16px;
    font-family: $sanserif;
    &.selected {
      background-color: $silver;
      color: $black;
    }
    @include media-min-width(mobile) {
      font-size: 18px;
    }
  }

}

main {
  justify-content: center;
  padding: 0 20px;
  width: calc( 100% - 40px );
  @include media-min-width(mobile) {
    padding: 0 30px;
    width: calc( 100% - 60px );
  }
  @include media-min-width(tablet) {
    padding: 0 40px;
    width: calc( 100% - 80px );
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include media-min-width(desktop) {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.local-weather,
.info-weather {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}


.local-weather {
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: rgba($black, 0.4 );
  @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
  z-index: 50;
  .location,
  .icon,
  p {
    color: $white;
  }
  .location {
    font-size: 18px;
    margin-bottom: 20px;
    @include media-min-width(mobile) {
      font-size: 22px
    }
     @include media-min-width(tablet) {
      font-size: 26px;
     }
  }
  .temp {
    font-size: 60px;
    @include media-min-width(tablet) {
      font-size: 80px;
     }
  }
  .icon {
    font-size: 60px;
    margin-bottom: 15px;
    @include media-min-width(mobile) {
      font-size: 80px;
      margin-bottom: 0;
     }
  }
  p {
    font-size: 16px;
    @include media-min-width(mobile) {
      font-size: 18px;
    }
    @include media-min-width(tablet) {
      font-size: 22px;
    }
  }
}

.info-weather {
  text-align: center;
  margin: 40px auto;
  @include media-min-width(mobile) {
    flex-direction: row;
  }
  &__col {
    display: block;
    font-size: 0;
    margin: 0 auto;
    max-width: 65%;
    width: calc(100% - 60px);
    @include media-min-width(mobile) {
      max-width: 60%;
      padding: 0 15px;
    }
    @include media-min-width(desktop) {
      max-width: 55%;
    }
    @include media-min-width(desktop) {
      display: inline-block;
      width: calc(50% - 60px);
      padding: 20px 30px;
    }

    p {
      display: inline-block;
      width: 50%;
      margin-bottom: 10px;
      font-size: 16px;
      border-bottom: 1px solid white;
      padding-bottom: 15px;
      &:nth-child(odd) {
        text-align: left;
      }
      &:nth-child(even) {
        text-align: right;
      }
      @include media-min-width(desktop) {
        width: 50%;
        font-size: 18px;
        margin-bottom: 15px;
        padding-bottom: 10px;
      }
    }
  }
}

.forecast-container {
  @include media-max-width(desktop) {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;
    padding-bottom: 120px;
  }
}

.forecast {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  @include media-max-width(desktop) {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__col {
    width: 125px;
    text-align: center;
    margin: 10px;
    padding: 40px 20px;
    background: rgba($black, 0.4);
    @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
    @include media-min-width(desktop) {
      width: 138px;
    }
    .date {
      margin-bottom: 20px;
    }
    .icon {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      margin: 15px auto;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: calc(100% - 60px);
  background: rgba($black, 0.4 );
  &__copyright {
    text-align: center;
    font-size: 14px;
    @include media-min-width(tablet) {
      font-size: 16px;
    }
  }
  @include media-max-width(tablet) {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }
  @include media-min-width(tablet) {
    align-items: flex-end;
    padding: 20px 40px;
    width: calc(100% - 80px);
    background: none;
  }
}
