$white: #fff;
$black: #000;
$gray: #595959;
$blue: #2DE5EC;
$green: #74AFAD;
$silver: #efefef;
$weather-background-color: #A3BAC3;
$whitesmoke: #F5F5F5;
$gainsboro: #E8E8E8;
$secondary-color: #FFA737;
$serif: 'Rokkitt-ExtraLight';
$sanserif: 'Quicksand-Light';
$handwritingbold:'AmaticSC-Bold';
$handwritingnormal:'AmaticSC-Regular';
$charcoal: #393E41;
$desktop-width: 1028px;
