@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/globals/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/globals/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/globals/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/globals/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/globals/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/globals/_reset.scss */
a {
  text-decoration: none;
}

/* line 45, ../sass/globals/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/globals/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, ../sass/globals/_reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button {
  border: 0;
  background: none;
  outline: 0;
}

/* line 66, ../sass/globals/_reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Roboto_Slab Thin */
@font-face {
  font-family: 'RobotoSlab-Thin';
  font-style: thin;
  font-weight: 100;
  src: url("/src/font/RobotoSlab/RobotoSlab-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RobotoSlab-Light';
  font-style: normal;
  font-weight: 300;
  src: url("/src/font/RobotoSlab/RobotoSlab-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Roboto_Slab Bold */
@font-face {
  font-family: 'RobotoSlab-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/src/font/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Raleway Light */
@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 300;
  src: url("/src/font/Raleway/Raleway-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Raleway Regular */
@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/Raleway/Raleway-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Raleway  Bold */
@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/src/font/Raleway/Raleway-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* line 1, ../sass/globals/_hamburger.scss */
.hamburger--rot span::before, .hamburger--rot span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 6, ../sass/globals/_hamburger.scss */
.hamburger--rot.is-active span::before, .hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* line 10, ../sass/globals/_hamburger.scss */
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  text-align: center;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
}
@media (min-width: 769px) {
  /* line 10, ../sass/globals/_hamburger.scss */
  .hamburger {
    width: 50px;
    height: 50px;
  }
}
/* line 31, ../sass/globals/_hamburger.scss */
.hamburger:focus {
  outline: none;
}
/* line 34, ../sass/globals/_hamburger.scss */
.hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #fff;
}
/* line 42, ../sass/globals/_hamburger.scss */
.hamburger span::before, .hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
}
/* line 51, ../sass/globals/_hamburger.scss */
.hamburger span::before {
  top: -8px;
}
/* line 54, ../sass/globals/_hamburger.scss */
.hamburger span::after {
  bottom: -8px;
}
@media (min-width: 769px) {
  /* line 34, ../sass/globals/_hamburger.scss */
  .hamburger span {
    top: 25px;
  }
  /* line 59, ../sass/globals/_hamburger.scss */
  .hamburger span::before {
    top: -10px;
  }
  /* line 62, ../sass/globals/_hamburger.scss */
  .hamburger span::after {
    bottom: -10px;
  }
}

/* line 70, ../sass/globals/_hamburger.scss */
.hamburger--rot span {
  transition: all 0.6s ease-in-out 0s;
}
/* line 74, ../sass/globals/_hamburger.scss */
.hamburger--rot span::before {
  transition-property: top, transform;
}
/* line 78, ../sass/globals/_hamburger.scss */
.hamburger--rot span::after {
  transition-property: bottom, transform;
}

/* line 85, ../sass/globals/_hamburger.scss */
.hamburger--rot.is-active {
  background-color: #fff;
}
/* line 87, ../sass/globals/_hamburger.scss */
.hamburger--rot.is-active span {
  background-color: #fff;
  background: #fff;
}
/* line 90, ../sass/globals/_hamburger.scss */
.hamburger--rot.is-active span::before, .hamburger--rot.is-active span::after {
  background-color: #393E41;
}
/* line 93, ../sass/globals/_hamburger.scss */
.hamburger--rot.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 98, ../sass/globals/_hamburger.scss */
.hamburger--rot.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@font-face {
  font-family: 'fontello';
  src: url("/src/font/fontello.eot?84191276");
  src: url("/src/font/fontello.eot?84191276#iefix") format("embedded-opentype"), url("/src/font/fontello.woff2?84191276") format("woff2"), url("/src/font/fontello.woff?84191276") format("woff"), url("/src/font/fontello.ttf?84191276") format("truetype"), url("/src/font/fontello.svg?84191276#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?84191276#fontello') format('svg');
  }
}
*/
/* line 23, ../sass/vendors/fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-weight: 100;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 59, ../sass/vendors/fontello.scss */
.icon-mail-1:before {
  content: '\e800';
}

/* '' */
/* line 60, ../sass/vendors/fontello.scss */
.icon-heart-empty:before {
  content: '\e801';
}

/* '' */
/* line 61, ../sass/vendors/fontello.scss */
.icon-rocket:before {
  content: '\e802';
}

/* '' */
/* line 62, ../sass/vendors/fontello.scss */
.icon-behance:before {
  content: '\e803';
}

/* '' */
/* line 63, ../sass/vendors/fontello.scss */
.icon-users:before {
  content: '\e804';
}

/* '' */
/* line 64, ../sass/vendors/fontello.scss */
.icon-eye:before {
  content: '\e805';
}

/* '' */
/* line 65, ../sass/vendors/fontello.scss */
.icon-pencil:before {
  content: '\e806';
}

/* '' */
/* line 66, ../sass/vendors/fontello.scss */
.icon-feather:before {
  content: '\e807';
}

/* '' */
/* line 67, ../sass/vendors/fontello.scss */
.icon-clock:before {
  content: '\e808';
}

/* '' */
/* line 68, ../sass/vendors/fontello.scss */
.icon-trophy:before {
  content: '\e809';
}

/* '' */
/* line 69, ../sass/vendors/fontello.scss */
.icon-megaphone:before {
  content: '\e80a';
}

/* '' */
/* line 70, ../sass/vendors/fontello.scss */
.icon-twitter:before {
  content: '\e80b';
}

/* '' */
/* line 71, ../sass/vendors/fontello.scss */
.icon-facebook:before {
  content: '\e80c';
}

/* '' */
/* line 72, ../sass/vendors/fontello.scss */
.icon-gplus:before {
  content: '\e80d';
}

/* '' */
/* line 73, ../sass/vendors/fontello.scss */
.icon-dribbble:before {
  content: '\e80e';
}

/* '' */
/* line 74, ../sass/vendors/fontello.scss */
.icon-right:before {
  content: '\e80f';
}

/* '' */
/* line 75, ../sass/vendors/fontello.scss */
.icon-forrst:before {
  content: '\e810';
}

/* '' */
/* line 76, ../sass/vendors/fontello.scss */
.icon-mail:before {
  content: '\e811';
}

/* '' */
/* line 77, ../sass/vendors/fontello.scss */
.icon-align-center:before {
  content: '\e812';
}

/* '' */
/* line 78, ../sass/vendors/fontello.scss */
.icon-menu:before {
  content: '\e813';
}

/* '' */
/* line 79, ../sass/vendors/fontello.scss */
.icon-temperature:before {
  content: '\e814';
}

/* '' */
/* line 80, ../sass/vendors/fontello.scss */
.icon-clouds-flash-alt:before {
  content: '\e815';
}

/* '' */
/* line 81, ../sass/vendors/fontello.scss */
.icon-cloud:before {
  content: '\e816';
}

/* '' */
/* line 82, ../sass/vendors/fontello.scss */
.icon-sun:before {
  content: '\e817';
}

/* '' */
/* line 83, ../sass/vendors/fontello.scss */
.icon-cloud-sun:before {
  content: '\e818';
}

/* '' */
/* line 84, ../sass/vendors/fontello.scss */
.icon-cloud-flash:before {
  content: '\e819';
}

/* '' */
/* line 85, ../sass/vendors/fontello.scss */
.icon-drizzle:before {
  content: '\e81a';
}

/* '' */
/* line 86, ../sass/vendors/fontello.scss */
.icon-rain:before {
  content: '\e81b';
}

/* '' */
/* line 87, ../sass/vendors/fontello.scss */
.icon-snow:before {
  content: '\e81c';
}

/* '' */
/* line 88, ../sass/vendors/fontello.scss */
.icon-snow-alt:before {
  content: '\e81d';
}

/* '' */
/* line 89, ../sass/vendors/fontello.scss */
.icon-snow-heavy:before {
  content: '\e81e';
}

/* '' */
/* line 90, ../sass/vendors/fontello.scss */
.icon-hail:before {
  content: '\e81f';
}

/* '' */
/* line 91, ../sass/vendors/fontello.scss */
.icon-clouds:before {
  content: '\e820';
}

/* '' */
/* line 92, ../sass/vendors/fontello.scss */
.icon-help-circled-alt:before {
  content: '\e821';
}

/* '' */
/* line 93, ../sass/vendors/fontello.scss */
.icon-down-open:before {
  content: '\e822';
}

/* '' */
/* line 94, ../sass/vendors/fontello.scss */
.icon-up-open:before {
  content: '\e823';
}

/* '' */
/* line 95, ../sass/vendors/fontello.scss */
.icon-right-open:before {
  content: '\e824';
}

/* '' */
/* line 96, ../sass/vendors/fontello.scss */
.icon-left-open:before {
  content: '\e825';
}

/* '' */
/* line 97, ../sass/vendors/fontello.scss */
.icon-down-circle:before {
  content: '\e826';
}

/* '' */
/* line 98, ../sass/vendors/fontello.scss */
.icon-left-circle:before {
  content: '\e827';
}

/* '' */
/* line 99, ../sass/vendors/fontello.scss */
.icon-right-circle:before {
  content: '\e828';
}

/* '' */
/* line 100, ../sass/vendors/fontello.scss */
.icon-up-circle:before {
  content: '\e829';
}

/* '' */
/* line 101, ../sass/vendors/fontello.scss */
.icon-search:before {
  content: '\e82a';
}

/* '' */
/* line 102, ../sass/vendors/fontello.scss */
.icon-cancel:before {
  content: '\e82b';
}

/* '' */
/* line 103, ../sass/vendors/fontello.scss */
.icon-fog:before {
  content: '\e82c';
}

/* '' */
/* line 104, ../sass/vendors/fontello.scss */
.icon-windy:before {
  content: '\f0c9';
}

/* '' */
/* line 105, ../sass/vendors/fontello.scss */
.icon-windy-rain:before {
  content: '\f135';
}

/* '' */
/* line 106, ../sass/vendors/fontello.scss */
.icon-cloud-moon:before {
  content: '\f1b4';
}

/* '' */
/* line 107, ../sass/vendors/fontello.scss */
.icon-fog-sun:before {
  content: '\f309';
}

/* '' */
/* line 108, ../sass/vendors/fontello.scss */
.icon-fog-moon:before {
  content: '\f30c';
}

/* '' */
/* line 109, ../sass/vendors/fontello.scss */
.icon-fog-cloud:before {
  content: '\f30f';
}

/* '' */
/* line 110, ../sass/vendors/fontello.scss */
.icon-moon:before {
  content: '\f31b';
}

/* '' */
/* line 1, ../sass/layout.scss */
html,
body {
  font-family: 'RobotoSlab-Thin';
  color: #fff;
  min-height: 100%;
}

/* line 7, ../sass/layout.scss */
body {
  background: url("/src/images/weather.jpg") center center no-repeat;
  background-size: cover;
  z-index: -1;
}

/* line 13, ../sass/layout.scss */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  width: 100%;
  text-align: center;
}
@media (min-width: 981px) {
  /* line 13, ../sass/layout.scss */
  header {
    padding: 40px;
    text-align: left;
  }
}
/* line 24, ../sass/layout.scss */
header .location {
  margin: 10px 0 0 10px;
}
/* line 26, ../sass/layout.scss */
header .location__title, header .location__icon {
  display: inline-block;
  font-size: 20px;
}
@media (min-width: 769px) {
  /* line 26, ../sass/layout.scss */
  header .location__title, header .location__icon {
    font-size: 22px;
  }
}
@media (min-width: 769px) {
  /* line 26, ../sass/layout.scss */
  header .location__title, header .location__icon {
    font-size: 28px;
  }
}

/* line 41, ../sass/layout.scss */
.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

/* line 50, ../sass/layout.scss */
.logo {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'RobotoSlab-Thin';
  font-size: 35px;
}
@media (min-width: 601px) {
  /* line 50, ../sass/layout.scss */
  .logo {
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    font-size: 50px;
  }
}

/* line 64, ../sass/layout.scss */
.cancel {
  position: absolute;
  top: 20px;
  right: 0;
}
/* line 68, ../sass/layout.scss */
.cancel .icon-cancel {
  display: block;
  font-size: 45px;
  color: #fff;
}
@media (min-width: 601px) {
  /* line 64, ../sass/layout.scss */
  .cancel {
    right: 20px;
  }
}

/* line 78, ../sass/layout.scss */
.autocomplete {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 0;
  padding: 20px 0;
  background-color: rgba(163, 186, 195, 0.8);
  transition: all 0.4s ease-in-out;
  width: calc(100% - 40px);
  float: right;
  z-index: 500;
}
@media (min-width: 601px) {
  /* line 78, ../sass/layout.scss */
  .autocomplete {
    padding: 30px;
    width: calc(100% - 60px);
  }
}
@media (min-width: 769px) {
  /* line 78, ../sass/layout.scss */
  .autocomplete {
    padding: 20px;
  }
}
/* line 98, ../sass/layout.scss */
.autocomplete.visible {
  right: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 769px) {
  /* line 98, ../sass/layout.scss */
  .autocomplete.visible {
    width: 340px;
  }
}
/* line 106, ../sass/layout.scss */
.autocomplete__form {
  display: block;
  width: 260px;
  margin: 60px auto 0;
  border: 1px solid #fff;
  border-radius: 15px;
}
@media (min-width: 601px) {
  /* line 106, ../sass/layout.scss */
  .autocomplete__form {
    width: 320px;
  }
}
@media (min-width: 769px) {
  /* line 106, ../sass/layout.scss */
  .autocomplete__form {
    margin: 80px auto 0;
  }
}
/* line 119, ../sass/layout.scss */
.autocomplete__input {
  display: block;
  width: 270px;
  margin: 0 auto;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-family: 'RobotoSlab-Thin';
}
/* line 128, ../sass/layout.scss */
.autocomplete__input::placeholder {
  color: #fff;
  opacity: 1;
}
@media (min-width: 601px) {
  /* line 119, ../sass/layout.scss */
  .autocomplete__input {
    width: 320px;
  }
}
/* line 136, ../sass/layout.scss */
.autocomplete__list {
  display: none;
  width: 270px;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
  border-radius: 0 0 10px 10px;
}
/* line 143, ../sass/layout.scss */
.autocomplete__list.visible {
  display: block;
}
@media (min-width: 601px) {
  /* line 136, ../sass/layout.scss */
  .autocomplete__list {
    width: 320px;
  }
}
/* line 150, ../sass/layout.scss */
.autocomplete__item {
  padding: 10px 0;
  font-size: 16px;
  font-family: "Quicksand-Light";
}
/* line 154, ../sass/layout.scss */
.autocomplete__item.selected {
  background-color: #efefef;
  color: #000;
}
@media (min-width: 601px) {
  /* line 150, ../sass/layout.scss */
  .autocomplete__item {
    font-size: 18px;
  }
}

/* line 165, ../sass/layout.scss */
main {
  justify-content: center;
  padding: 0 20px;
  width: calc( 100% - 40px );
}
@media (min-width: 601px) {
  /* line 165, ../sass/layout.scss */
  main {
    padding: 0 30px;
    width: calc( 100% - 60px );
  }
}
@media (min-width: 769px) {
  /* line 165, ../sass/layout.scss */
  main {
    padding: 0 40px;
    width: calc( 100% - 80px );
  }
}

/* line 179, ../sass/layout.scss */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 981px) {
  /* line 179, ../sass/layout.scss */
  section {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/* line 190, ../sass/layout.scss */
.local-weather,
.info-weather {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

/* line 198, ../sass/layout.scss */
.local-weather {
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  z-index: 50;
}
/* line 208, ../sass/layout.scss */
.local-weather .location,
.local-weather .icon,
.local-weather p {
  color: #fff;
}
/* line 213, ../sass/layout.scss */
.local-weather .location {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (min-width: 601px) {
  /* line 213, ../sass/layout.scss */
  .local-weather .location {
    font-size: 22px;
  }
}
@media (min-width: 769px) {
  /* line 213, ../sass/layout.scss */
  .local-weather .location {
    font-size: 26px;
  }
}
/* line 223, ../sass/layout.scss */
.local-weather .temp {
  font-size: 60px;
}
@media (min-width: 769px) {
  /* line 223, ../sass/layout.scss */
  .local-weather .temp {
    font-size: 80px;
  }
}
/* line 229, ../sass/layout.scss */
.local-weather .icon {
  font-size: 60px;
  margin-bottom: 15px;
}
@media (min-width: 601px) {
  /* line 229, ../sass/layout.scss */
  .local-weather .icon {
    font-size: 80px;
    margin-bottom: 0;
  }
}
/* line 237, ../sass/layout.scss */
.local-weather p {
  font-size: 16px;
}
@media (min-width: 601px) {
  /* line 237, ../sass/layout.scss */
  .local-weather p {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  /* line 237, ../sass/layout.scss */
  .local-weather p {
    font-size: 22px;
  }
}

/* line 248, ../sass/layout.scss */
.info-weather {
  text-align: center;
  margin: 40px auto;
}
@media (min-width: 601px) {
  /* line 248, ../sass/layout.scss */
  .info-weather {
    flex-direction: row;
  }
}
/* line 254, ../sass/layout.scss */
.info-weather__col {
  display: block;
  font-size: 0;
  margin: 0 auto;
  max-width: 65%;
  width: calc(100% - 60px);
}
@media (min-width: 601px) {
  /* line 254, ../sass/layout.scss */
  .info-weather__col {
    max-width: 60%;
    padding: 0 15px;
  }
}
@media (min-width: 981px) {
  /* line 254, ../sass/layout.scss */
  .info-weather__col {
    max-width: 55%;
  }
}
@media (min-width: 981px) {
  /* line 254, ../sass/layout.scss */
  .info-weather__col {
    display: inline-block;
    width: calc(50% - 60px);
    padding: 20px 30px;
  }
}
/* line 273, ../sass/layout.scss */
.info-weather__col p {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
/* line 280, ../sass/layout.scss */
.info-weather__col p:nth-child(odd) {
  text-align: left;
}
/* line 283, ../sass/layout.scss */
.info-weather__col p:nth-child(even) {
  text-align: right;
}
@media (min-width: 981px) {
  /* line 273, ../sass/layout.scss */
  .info-weather__col p {
    width: 50%;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 980px) {
  /* line 296, ../sass/layout.scss */
  .forecast-container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;
    padding-bottom: 120px;
  }
}

/* line 306, ../sass/layout.scss */
.forecast {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
@media (max-width: 980px) {
  /* line 306, ../sass/layout.scss */
  .forecast {
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* line 316, ../sass/layout.scss */
.forecast__col {
  width: 125px;
  text-align: center;
  margin: 10px;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 981px) {
  /* line 316, ../sass/layout.scss */
  .forecast__col {
    width: 138px;
  }
}
/* line 326, ../sass/layout.scss */
.forecast__col .date {
  margin-bottom: 20px;
}
/* line 329, ../sass/layout.scss */
.forecast__col .icon {
  font-size: 40px;
}
/* line 332, ../sass/layout.scss */
.forecast__col p {
  font-size: 16px;
  margin: 15px auto;
}

/* line 339, ../sass/layout.scss */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: calc(100% - 60px);
  background: rgba(0, 0, 0, 0.4);
}
/* line 346, ../sass/layout.scss */
.footer__copyright {
  text-align: center;
  font-size: 14px;
}
@media (min-width: 769px) {
  /* line 346, ../sass/layout.scss */
  .footer__copyright {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  /* line 339, ../sass/layout.scss */
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }
}
@media (min-width: 769px) {
  /* line 339, ../sass/layout.scss */
  .footer {
    align-items: flex-end;
    padding: 20px 40px;
    width: calc(100% - 80px);
    background: none;
  }
}

/* line 1, ../sass/form.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 5, ../sass/form.scss */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 9, ../sass/form.scss */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 13, ../sass/form.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}
