@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71638239');
  src: url('../font/fontello.eot?71638239#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?71638239') format('woff2'),
       url('../font/fontello.woff?71638239') format('woff'),
       url('../font/fontello.ttf?71638239') format('truetype'),
       url('../font/fontello.svg?71638239#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71638239#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-align-center:before { content: '\e800'; } /* '' */
.icon-dribbble:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-feather:before { content: '\e806'; } /* '' */
.icon-megaphone:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-behance:before { content: '\e809'; } /* '' */
.icon-forrst:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-trophy:before { content: '\e80c'; } /* '' */
.icon-rocket:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-mail-1:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e812'; } /* '' */
.icon-desktop:before { content: '\e813'; } /* '' */
.icon-wifi:before { content: '\e814'; } /* '' */
.icon-signal:before { content: '\e815'; } /* '' */
.icon-tablet:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-globe:before { content: '\e818'; } /* '' */
.icon-suitcase:before { content: '\e819'; } /* '' */
.icon-off:before { content: '\e81a'; } /* '' */
.icon-beaker:before { content: '\e81b'; } /* '' */
.icon-linkedin-squared:before { content: '\e81c'; } /* '' */
.icon-lastfm:before { content: '\e81d'; } /* '' */
.icon-desktop-1:before { content: '\e81e'; } /* '' */
.icon-laptop:before { content: '\e81f'; } /* '' */
.icon-tablet-1:before { content: '\e820'; } /* '' */
.icon-mobile-1:before { content: '\e821'; } /* '' */
.icon-flow-merge:before { content: '\e822'; } /* '' */
.icon-camera:before { content: '\e823'; } /* '' */
.icon-video-chat:before { content: '\e824'; } /* '' */
.icon-gmail:before { content: '\e825'; } /* '' */
.icon-wrench:before { content: '\e826'; } /* '' */
.icon-feather-1:before { content: '\e827'; } /* '' */
.icon-wifi-1:before { content: '\e828'; } /* '' */
.icon-wifi-outline:before { content: '\e829'; } /* '' */
.icon-menu:before { content: '\e82a'; } /* '' */
.icon-video:before { content: '\e82b'; } /* '' */
.icon-down-open:before { content: '\e82c'; } /* '' */
.icon-up-open:before { content: '\e82d'; } /* '' */
.icon-temperature:before { content: '\e82e'; } /* '' */
.icon-compass:before { content: '\e82f'; } /* '' */
.icon-fahrenheit:before { content: '\e830'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e831'; } /* '' */
.icon-sunrise:before { content: '\e832'; } /* '' */
.icon-sun:before { content: '\e833'; } /* '' */
.icon-moon:before { content: '\e834'; } /* '' */
.icon-mist:before { content: '\e835'; } /* '' */
.icon-wind:before { content: '\e836'; } /* '' */
.icon-cloud-sun:before { content: '\e837'; } /* '' */
.icon-cloud-moon:before { content: '\e838'; } /* '' */
.icon-fog-sun:before { content: '\e839'; } /* '' */
.icon-fog-moon:before { content: '\e83a'; } /* '' */
.icon-fog-cloud:before { content: '\e83b'; } /* '' */
.icon-fog:before { content: '\e83c'; } /* '' */
.icon-cloud:before { content: '\e83d'; } /* '' */
.icon-cloud-flash:before { content: '\e83e'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e83f'; } /* '' */
.icon-drizzle:before { content: '\e840'; } /* '' */
.icon-rain:before { content: '\e841'; } /* '' */
.icon-windy:before { content: '\e842'; } /* '' */
.icon-windy-rain:before { content: '\e843'; } /* '' */
.icon-snow:before { content: '\e844'; } /* '' */
.icon-snow-alt:before { content: '\e845'; } /* '' */
.icon-snow-heavy:before { content: '\e846'; } /* '' */
.icon-hail:before { content: '\e847'; } /* '' */
.icon-clouds:before { content: '\e848'; } /* '' */
.icon-clouds-flash:before { content: '\e849'; } /* '' */