/*Responsive Design*/

@media (max-width: 768px){
	.inner{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px){
	.weather-block{
		float:none;
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 640px) { 

	.weather-results {
		height: 75vh;
		margin-bottom: 15vh;
	}
}