* { margin: 0; padding: 0 }
html { overflow-y: scroll}
body { 
	   background-color: #E5E6E4;	
	   font-size: 13px;
	   color: #fff; 
	   font-family: 'Raleway', 'Open Sans', Arial, helvetica, sans-serif;
	}
ul{ list-style-type: none ; background-color: #fff;}

.wrapper{
	text-align: center;
	width: 100%;
}

.clear {
	clear: both;
}

.show-header{
	position: absolute;
    top: 30px;
    right: 0;
    left: 0;
	display: block;
	text-decoration: none;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: #7D1D3F;
}

.show-header i{
	font-size: 20px;
}

.close-header {
	position: absolute;
	right: 20px;
	bottom:10px;
	font-size: 35px;
	color: #fff;
}

header {
	position: relative;
	display: block;
	height: 90px;
}


#search-wrapper {
	position: absolute;
	display: block;
	width: 100%;
	height: 90px;
	opacity: 0;
	visibility: hidden;
	background-color: #44344F;
	border-bottom: 3px #6C0638 solid;
}

#user-location{
	margin-top: 30px;
	height: 25px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: none;
} 

input:focus::-webkit-input-placeholder {
   color: transparent;
}


input:focus:-moz-placeholder {
   color: transparent;
}

input:focus::-moz-placeholder {
   color: transparent;
}

input:focus:-ms-input-placeholder {
   color: transparent;
}

.beta-msg {
	position: absolute;
	top: 20px;
	left: 40px;
	text-transform: uppercase;
	color: #7D1D3F;
	font-size: 15px;
}

#results {
	display: block;
	margin: 0 auto;
	max-height: 200px;
	width: 200px;
	overflow-y: scroll;
	background-color: #fff;	
	opacity: 0;
	visibility: hidden;
}


#results .selected {
	background-color: #E5E6E4;
}

#results ul li  a {
	text-decoration: none;
	color: #1a1a1a;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
}

/*-- part showig results-*/
.inner{
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding-top: 70px;
}

.inner #weather-results{
	position: absolute;
	top: 70px;
	bottom: 0;
	right: 0;
	left:0;
	visibility: hidden;
	opacity: 0;
	border-radius: 10px;
}
.inner #weather-results div{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #87767E;
	border-radius: 10px;
}

.inner #weather-results div  h1, .inner #weather-results div  p {
	font-weight: 300;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
	font-size: 50px;
}

.inner #weather-results div button{
	display: block;
	margin: 0 auto;
	width: 100px;
    height: 41px;
    border-radius: 10px;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
}

.clear {
	clear: both;
}


.weather-block{
	float: left;
	width: 48%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 10px;
}

.weather-block div {
	font-size: 100px;
}
.inner .weather-block:nth-child(1), .inner .weather-block:nth-child(4) {
	background-color: #811A68;
}

.inner .weather-block:nth-child(2), .inner .weather-block:nth-child(3){
	background-color: #726DA8;;
}

.inner .weather-block:nth-child(odd) {
	margin-right: 1.5%;
}

.weather-block h1, .weather-block p{
	font-size: 20px;
	font-weight: 300;
	padding: 35px;
	text-align: center;
}


/*--Closig and opening header--*/

.close-header.active {
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: 0.6s 0.5s ease-in-out;
	z-index: 1;
}

.close-header.inactive {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: 0.6s 0.5s ease-in-out;
	z-index: 1;
}

.show-header.active, #search-wrapper.active {
	visibility: visible;
	opacity: 1;
	height: 90px;
	transition: 0.6s ease-in-out .5s;
}

.show-header.inactive, #search-wrapper.inactive {
	visibility: hidden;
	opacity: 0;
	height: 0;
	transition: 0.5s ease-in-out;
}

#weather-results.show-results{
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: 0.6s 0.5s ease-in-out;
	z-index: 2;
}

#results.show-results {
	position: absolute;
	visibility: visible;
	opacity: 1;
	right: 0;
	left: 0;
	transition: 0.6s 0.4s ease-in-out;
	z-index: 1;
}


#weather-results.hide-results, #results.hide-results {
	visibility: hidden;
	opacity: 0;
	transition:  0.4s 0.2s ease-in-out;
}