@keyframes moveweatherblocks {
	0%{
		transform: scale(0.4);
	}
	25%{
		transform: scale(0.8);
	}
	50%{
		transform: scale(0.6);
	}
	75%{
		transform: scale(0.9);
	}
	100% {
		transform: scale(1.0);
	}	
}

* {
 	margin: 0;
 	padding: 0;
}

body { 
	   background-color: #E5E6E4;	
	   color: #fff; 
	   font-family: 'Raleway', 'Open Sans', Arial, helvetica, sans-serif;
	}

header {
	position: relative;
	height: 90px;
}

ul { 
	list-style-type: none ; background-color: #fff;
}

.wrapper{
	text-align: center;
	width: 100%;
}

.clear {
	clear: both;
}

header .show-header{
	position: absolute;
    top: 40px;
    right: 0;
    left: 0;
	display: block;
	text-decoration: none;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: #7D1D3F;
}

.show-header i{
	font-size: 20px;
}

.close-header {
	position: absolute;
	right: 20px;
	bottom:10px;
	font-size: 35px;
	color: #fff;
}

#search-wrapper {
	position: absolute;
	display: block;
	width: 100%;
	height: 100px;
	opacity: 0;
	visibility: hidden;
	background-color: #44344F;
	border-bottom: 3px #6C0638 solid;
}

#user-location{
	margin-top: 40px;
	height: 25px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: none;
} 

input:focus::-webkit-input-placeholder {
   color: transparent;
}


input:focus:-moz-placeholder {
   color: transparent;
}

input:focus::-moz-placeholder {
   color: transparent;
}

input:focus:-ms-input-placeholder {
   color: transparent;
}

.beta-msg {
	position: absolute;
	top: 15px;
	left: 20px;
	text-transform: uppercase;
	color: #7D1D3F;
	font-size: 15px;
	z-index: 3;
}

.beta-msg.white-color{
	color:#fff;
}

#results {
	position: relative;
	display: block;
	margin: 0 auto;
	max-height: 200px;
	width: 200px;
	overflow-y: scroll;
	background-color: #fff;	
	opacity: 0;
	visibility: hidden;
	z-index: 4;
}


#results .selected {
	background-color: #E5E6E4;
}

#results ul li  a {
	position: relative;
	text-decoration: none;
	color: #1a1a1a;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	z-index: 4;
}

/*-- part showig results-*/
.inner {
	position: relative;
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding-top: 70px;
}

.weather-results {
	position: absolute;
	top: 70px;
	bottom: 0;
	right: 0;
	left:0;
	visibility: hidden;
	opacity: 0;
	border-radius: 10px;
	background-color: #87767E;
}

.weather-results h1, .weather-results p {
	font-weight: 300;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
	font-size: 50px;
}

.close-results {
	position: absolute;
	right :25px;
	bottom: 25px;
	font-size: 35px;
	color: #fff;
}

.more-info {
	position: absolute;
	left :25px;
	bottom: 25px;
	font-size: 60px;
	color: #fff;
}

.weather-block{
	float: left;
	width: 49%;
	height: 300px;
	margin-bottom: 10px;
	border-radius: 10px;
	animation: moveweatherblocks 1.5s ease-in-out forwards;
}

.icon {
	font-size: 100px;
}

.weather-block:nth-child(1), .weather-block:nth-child(4) {
	background-color: #811A68;
}

.weather-block:nth-child(2), .weather-block:nth-child(3){
	background-color: #726DA8;;
}

.weather-block:nth-child(odd) {
	margin-right: 1.5%;
}

.weather-block h2, .weather-block p{
	font-size: 20px;
	font-weight: 300;
	padding: 35px;
	text-align: center;
}


/*--Closig and opening header--*/

.close-header.active {
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: 0.6s 0.5s ease-in-out;
	z-index: 1;
}

.close-header.inactive {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: 0.6s 0.5s ease-in-out;
	z-index: 1;
}

.show-header.active, #search-wrapper.active {
	visibility: visible;
	opacity: 1;
	height: 100px;
	transition: 0.6s ease-in-out .5s;
}

.show-header.inactive, #search-wrapper.inactive {
	visibility: hidden;
	opacity: 0;
	height: 0;
	transition: 0.5s ease-in-out;
}

.weather-results.show-results{
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: 0.6s 0.5s ease-in-out;
	z-index: 2;
}

#results.show-results {
	position: absolute;
	visibility: visible;
	opacity: 1;
	right: 0;
	left: 0;
	transition: 0.6s 0.4s ease-in-out;
	z-index: 4;
	background-color: #87767E;
}


.weather-results.hide-results, #results.hide-results {
	visibility: hidden;
	opacity: 0;
	transition:  0.4s 0.2s ease-in-out;
}
