* { margin: 0; padding: 0 }
html { overflow-y: scroll}
body { 
	   font-size: 13px;
	   color: #fff; 
	   font-family: 'Raleway', 'Open Sans', Arial, helvetica, sans-serif;
	}
ul{ list-style-type: none ; background-color: #fff;}

.wrapper{
	width: 100%;
}

.title{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	padding: 30px;

}
.weather-search{
	border-bottom: 3px #6C0638 solid;
	background-color: #8BF3F0;
}

.weather-search .user-form{
	display: block;
	width: 150px;
	margin: 0 auto;
}
 
.weather-search .user-form input{
	height: 25px;
    width: 147px;
    border-radius: 10px;
    text-align: center;
} 

.weather-search #results {
	display: block;
	height: 50px;
	overflow-y: scroll;
	background-color: #fff;	
	opacity: 0;
	visibility: none;
}

.weather-search .user-form #results ul li  a {
	text-decoration: none;
	color: #1a1a1a;
}
.inner{
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 30px;
}

.inner #weather-results{
	position: absolute;
	top: 10px;
	bottom: 0;
	right: 0;
	left:0;
	visibility: none;
	opacity: 0;
	background-color: #928BC2;
	border-radius: 10px;
}

.inner #weather-results h1, .inner #weather-results p {
	font-weight: 600;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
	font-size: 50px;
}

.inner #weather-results div{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.inner #weather-results div img {
	display: block;
	margin : 0 auto;
	height: 230px;
	width:230px;

}

.inner #weather-results button{
	display: block;
	margin: 0 auto;
	width: 100px;
    height: 41px;
    border-radius: 10px;
    background: none;
    font-size: 20px;
    color: white;
}

.clear {
	clear: both;
}


.weather-block{
	float: left;
	width: 46.5%;
	height: 300px;
	padding: 5px;
	border-radius: 15px;
	margin: 5px;
	overflow: hidden;
}

.weather-block h1, .weather-block p{
	font-size: 20px;
	font-weight: 300;
	padding: 40px;
	text-align: center;
}

#weather-results.show-results, .weather-search #results.show-results{
	visibility: visible;;
	opacity: 1;
	~webkit-transition: 0.6s 0.4s ease-in-out;
	transition: 0.6s 0.4s ease-in-out;
	z-index: 99999;
}

#weather-results.hide-results, .weather-search #results.hide-results{
	visibility: hidden;
	opacity: 0;
	~webkit-transition: 0.6s 0.3s ease-in-out;
	transition:  0.6s 0.4s ease-in-out;
}